 
		.ulisting_element_540_1592186003560{background-color:#FFFFFF;margin-bottom:20px;padding-top:35px;}
		@media (max-width: 1199px) { .ulisting_element_540_1592186003560{} }
		@media (max-width: 991px) { .ulisting_element_540_1592186003560{} }
		@media (max-width: 767px) { .ulisting_element_540_1592186003560{} }
		@media (max-width: 575px) { .ulisting_element_540_1592186003560{} }
		 
		.ulisting_element_810_1592186003560{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 991px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 767px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 575px) { .ulisting_element_810_1592186003560{} }
		 
		.ulisting_element_0_1592192590409{;;}
		@media (max-width: 1199px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 991px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 767px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 575px) { .ulisting_element_0_1592192590409{} }
		 
		.ulisting_element_710_1608690736731{;margin-bottom:20px;padding-top:35px;padding-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_710_1608690736731{} }
		@media (max-width: 991px) { .ulisting_element_710_1608690736731{} }
		@media (max-width: 767px) { .ulisting_element_710_1608690736731{} }
		@media (max-width: 575px) { .ulisting_element_710_1608690736731{} }
		 
		.ulisting_element_570_1592368123611{;margin-bottom:20px;}
		@media (max-width: 1199px) { .ulisting_element_570_1592368123611{} }
		@media (max-width: 991px) { .ulisting_element_570_1592368123611{} }
		@media (max-width: 767px) { .ulisting_element_570_1592368123611{} }
		@media (max-width: 575px) { .ulisting_element_570_1592368123611{} }
		 
		.ulisting_element_260_1608605744374{;margin-top:10px;margin-bottom:25px;}
		@media (max-width: 1199px) { .ulisting_element_260_1608605744374{} }
		@media (max-width: 991px) { .ulisting_element_260_1608605744374{} }
		@media (max-width: 767px) { .ulisting_element_260_1608605744374{} }
		@media (max-width: 575px) { .ulisting_element_260_1608605744374{} }
		 
		.ulisting_element_60_1592195523506{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 991px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 767px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 575px) { .ulisting_element_60_1592195523506{} }
		 
		.ulisting_element_950_1592195523506{;align-items: flex-start;;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_950_1592195523506{;display: block;} }
		@media (max-width: 991px) { .ulisting_element_950_1592195523506{;display: block;} }
		@media (max-width: 767px) { .ulisting_element_950_1592195523506{;display: block;;margin-bottom:10px} }
		@media (max-width: 575px) { .ulisting_element_950_1592195523506{;display: block;} }
		 
		.ulisting_element_800_1592186103498{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 991px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 767px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 575px) { .ulisting_element_800_1592186103498{} }
		 
		.ulisting_element_970_1592195533019{;display: flex; justify-content: flex-end;;align-items: center;;}
		@media (max-width: 1199px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;} }
		@media (max-width: 991px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;} }
		@media (max-width: 767px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;} }
		@media (max-width: 575px) { .ulisting_element_970_1592195533019{display: flex; justify-content: space-between;;} }
		 
		.ulisting_element_360_1592186088098{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 991px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 767px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 575px) { .ulisting_element_360_1592186088098{} }
		 
		.ulisting_element_50_1592186084246{;;}
		@media (max-width: 1199px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 991px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 767px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 575px) { .ulisting_element_50_1592186084246{} }
		 
		.ulisting_element_280_1592192686988{;margin-left:5px;}
		@media (max-width: 1199px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 991px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 767px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 575px) { .ulisting_element_280_1592192686988{margin-left:0px} }
		 
		.ulisting_element_820_1592989980879{;;}
		@media (max-width: 1199px) { .ulisting_element_820_1592989980879{} }
		@media (max-width: 991px) { .ulisting_element_820_1592989980879{} }
		@media (max-width: 767px) { .ulisting_element_820_1592989980879{} }
		@media (max-width: 575px) { .ulisting_element_820_1592989980879{} }
		 
		.ulisting_element_560_1592989980879{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1592989980879{} }
		@media (max-width: 991px) { .ulisting_element_560_1592989980879{} }
		@media (max-width: 767px) { .ulisting_element_560_1592989980879{} }
		@media (max-width: 575px) { .ulisting_element_560_1592989980879{} }
		 
		.ulisting_element_70_1592989980879{;;}
		@media (max-width: 1199px) { .ulisting_element_70_1592989980879{} }
		@media (max-width: 991px) { .ulisting_element_70_1592989980879{} }
		@media (max-width: 767px) { .ulisting_element_70_1592989980879{} }
		@media (max-width: 575px) { .ulisting_element_70_1592989980879{} }
		 
		.ulisting_element_510_1592186108532{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 991px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 767px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 575px) { .ulisting_element_510_1592186108532{} }
		 
		.ulisting_element_510_1592186106647{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 991px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 767px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 575px) { .ulisting_element_510_1592186106647{} }
		