 
		.ulisting_element_540_1592186003560{;margin-top:35px;}
		@media (max-width: 1199px) { .ulisting_element_540_1592186003560{margin-top:15px} }
		@media (max-width: 991px) { .ulisting_element_540_1592186003560{margin-top:15px} }
		@media (max-width: 767px) { .ulisting_element_540_1592186003560{margin-top:5px} }
		@media (max-width: 575px) { .ulisting_element_540_1592186003560{} }
		 
		.ulisting_element_810_1592186003560{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 991px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 767px) { .ulisting_element_810_1592186003560{} }
		@media (max-width: 575px) { .ulisting_element_810_1592186003560{} }
		 
		.ulisting_element_0_1592192590409{;;}
		@media (max-width: 1199px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 991px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 767px) { .ulisting_element_0_1592192590409{} }
		@media (max-width: 575px) { .ulisting_element_0_1592192590409{} }
		 
		.ulisting_element_120_1592193824500{;;}
		@media (max-width: 1199px) { .ulisting_element_120_1592193824500{} }
		@media (max-width: 991px) { .ulisting_element_120_1592193824500{} }
		@media (max-width: 767px) { .ulisting_element_120_1592193824500{} }
		@media (max-width: 575px) { .ulisting_element_120_1592193824500{} }
		 
		.ulisting_element_500_1592186003560{;;}
		@media (max-width: 1199px) { .ulisting_element_500_1592186003560{} }
		@media (max-width: 991px) { .ulisting_element_500_1592186003560{} }
		@media (max-width: 767px) { .ulisting_element_500_1592186003560{} }
		@media (max-width: 575px) { .ulisting_element_500_1592186003560{} }
		 
		.ulisting_element_60_1592195523506{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 991px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 767px) { .ulisting_element_60_1592195523506{} }
		@media (max-width: 575px) { .ulisting_element_60_1592195523506{} }
		 
		.ulisting_element_950_1592195523506{;align-items: center;;display: flex; justify-content: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_950_1592195523506{;display: block;} }
		@media (max-width: 991px) { .ulisting_element_950_1592195523506{;display: block;} }
		@media (max-width: 767px) { .ulisting_element_950_1592195523506{;display: block;} }
		@media (max-width: 575px) { .ulisting_element_950_1592195523506{;display: block;;margin-bottom:10px} }
		 
		.ulisting_element_800_1592186103498{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 991px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 767px) { .ulisting_element_800_1592186103498{} }
		@media (max-width: 575px) { .ulisting_element_800_1592186103498{} }
		 
		.ulisting_element_970_1592195533019{;display: flex; justify-content: flex-end;;align-items: center;;;}
		@media (max-width: 1199px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 991px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;;} }
		@media (max-width: 767px) { .ulisting_element_970_1592195533019{display: flex; justify-content: flex-end;;;margin-top:0px;} }
		@media (max-width: 575px) { .ulisting_element_970_1592195533019{display: flex; justify-content: space-between;;align-items: flex-start;;} }
		 
		.ulisting_element_360_1592186088098{;margin-right:15px;}
		@media (max-width: 1199px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 991px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 767px) { .ulisting_element_360_1592186088098{} }
		@media (max-width: 575px) { .ulisting_element_360_1592186088098{} }
		 
		.ulisting_element_50_1592186084246{;margin-right:5px;}
		@media (max-width: 1199px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 991px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 767px) { .ulisting_element_50_1592186084246{} }
		@media (max-width: 575px) { .ulisting_element_50_1592186084246{} }
		 
		.ulisting_element_280_1592192686988{;;}
		@media (max-width: 1199px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 991px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 767px) { .ulisting_element_280_1592192686988{} }
		@media (max-width: 575px) { .ulisting_element_280_1592192686988{margin-left:0px} }
		 
		.ulisting_element_510_1592186108532{;margin-top:20px;}
		@media (max-width: 1199px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 991px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 767px) { .ulisting_element_510_1592186108532{} }
		@media (max-width: 575px) { .ulisting_element_510_1592186108532{} }
		 
		.ulisting_element_510_1592186106647{;;}
		@media (max-width: 1199px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 991px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 767px) { .ulisting_element_510_1592186106647{} }
		@media (max-width: 575px) { .ulisting_element_510_1592186106647{} }
		